
<div class="container">
<div class="row">
<div class="col s12 center-align">
<h2 class= "tophead" style="color: green;">Products Page</h2>
<button class="btn btn-xs waves-effect waves-light btn categ">
{{link-to "Categories" "products.categories"}}
</button>
</div>
</div>
</div>

{{outlet}}

